header {

	background-image: url('img/pokemon.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 200px;
}

#container {
	background-position: center bottom;
	background-repeat: no-repeat;
	background-image: url('https://cachorrosfumantes.files.wordpress.com/2016/09/pokemonnnn.jpg');
	background-size: contain;
	/*height: 550px;*/
}

#main {
	background-color: white;
	opacity :0.9;
	margin-top : 50px;
}

#resultat {
	margin: 50px;
}

h1,h2 {
	text-align: center;
	text-transform: uppercase;
}

p{
	text-align:center;
}

.img_pokemon{
	width:80%;
}

#pokemon {
	padding : 10px;
}


/* max-width 700 */
@media (max-width: 700px){
	header{
		height:5em;
	}
	h1,h2 { font-size : 1em;}
	#pokemon { border : none!IMPORTANT;}
	.btn {width : 45%;
		  margin-left: 28%;}
	.form-group{ width:50%;
				 margin-left:0;
				 left:0;}
	#pokemon_search {
		margin-left:0;
		left:0;
	}
}